* {
    font-family: 'Montserrat', sans-serif;
}

table {
    max-width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

tr:nth-child(even), tr:nth-child(even) button  {
    background-color: #A1C6EF;
}

td {
    width: 0.5%;
    white-space: nowrap;
    text-align: center;
    padding: 5px 0;
}

h2,h1,#filtros {
    text-align: center;
}


input {
    width: 200px;
    height: 25px;
}

.file-input {
    width: 30rem;
    border: none;
    margin-left: 10rem;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 5px;
}

hr:nth-child(2) {
    width: 100%;
}

#div-crear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario, #formulario form  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

button {
    width: 140px;
    height: 20px;
    font-weight: 700;
    color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
}



#div-crear button {
    height: 34px;
}

.btn-modificar {
    border:none;
    color: black;
    font-weight: bold;
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


input, datalist {
    border: 1px solid black;
    border-radius: 5px;
}

#botones {
    margin: 0 auto;
    text-align: center;
}

#input-filtro {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.activo {
    color: black !important;
    background-color: #d6d6d6 !important;
}

@media screen and (max-width: 350px) {
    #btn-crear {
        margin-bottom: 5px;
    }    
}

@media screen and (max-width: 450px) {
.botones button {
        width: 30%;
        font-size: 9px;
    }
    #input-filtro {
        flex-direction: column;

    }
}

select {
    max-width: 90%;
}

/* Implementaciones de botones dinámicos */
.guardar {
    border: 1px solid black;
    border-radius: 0%;
    background: linear-gradient(90deg, rgba(0,138,2,1) 0%, rgba(13,111,31,1) 50%, rgba(39,79,47,1) 100%);
    background-size: 200% 100%; /* Duplicar el tamaño del fondo para animarlo */
    background-position: 0% 0%; /* Posición inicial del fondo */
    transition: background-position 1s ease, border-radius 1s ease; /* Transición suave */
}

.guardar:hover {
    border-radius: 1%;
    background-position: 100% 0%; /* Mover el gradiente */
}

.borrar {
    border: 1px solid black;
    border-radius: 0%;
    background: linear-gradient(90deg, rgba(255,4,4,1) 0%, rgba(203,40,40,1) 50%, rgba(111,49,49,1) 100%);
    background-size: 200% 100%; /* Duplicar el tamaño del fondo para animarlo */
    background-position: 0% 0%; /* Posición inicial del fondo */
    transition: background-position 1s ease, border-radius 1s ease; /* Transición suave */
}

.borrar:hover {
    border-radius: 1%;
    background-position: 100% 0%; /* Mover el gradiente */
}